.btn {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-decoration: none;
}

.btn-primary {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: var(--color-white);
}

.btn-primary-outline {
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.btn-primary:hover {
    background-color: var(--color-primary-light);
    color: var(--color-primary);
}

.btn-primary-outline:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.btn-secondary {
    background-color: var(--color-secondary-dark);
    border: 1px solid var(--color-secondary-dark);
    color: var(--color-white);
}

.btn-secondary-outline {
    background-color: var(--color-white);
    border: 1px solid var(--color-secondary-dark);
    color: var(--color-secondary-dark);
}

.btn-secondary:hover {
    color: var(--color-dark);
    background-color: var(--color-secondary);
}

.btn-secondary-outline:hover {
    background-color: var(--color-secondary-dark);
    color: var(--color-white);
}

.btn-tertiary {
    background-color: var(--color-danger);
    border: 1px solid var(--color-danger);
    color: var(--color-white);
}

.btn-tertiary:hover {
    background-color: var(--color-danger-light);
    color: var(--color-danger);
}

.btn-tertiary-outline {
    background-color: var(--color-white);
    border: 1px solid var(--color-danger);
    color: var(--color-danger);
}

.btn-tertiary-outline:hover {
    background-color: var(--color-danger);
    color: var(--color-white);
}

.btn-text {
    padding: 0.625rem 1rem;
    background: none;
    color: var(--color-primary);
    border: none;
    text-transform: uppercase;
}

.btn-text:focus {
    padding: 0.625rem 1rem;
    color: var(--color-primary);
    background-color: var(--color-highlight);
}

.btn-icon {
    padding: 5px;
    background: none;
    border: none;
    position: relative;
}

.btn-large {
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1rem;
}

.btn-round {
    border-radius: 50%;
}

.btn-float {
    position: fixed;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background: var(--color-primary);
    border: solid var(--color-primary);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-white);
}

@media (max-width: 600px) {
    .btn-text {
        font-size: 0.875rem;
    }
}