.card {
    margin: 0.625rem;
    position: relative;
    box-shadow: var(--color-dark-a) 0px 7px 3rem 0px;
}

.card-vertical-md {
    width: 21.875rem;
    height: 26.25rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.card-vertical-md>.card-img {
    width: 21.875rem;
    height: 12.5rem;
}

.card-vertical-sm {
    width: 18.75rem;
    height: 25rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.card-vertical-sm>.card-img {
    width: 18.75rem;
    height: 15.625rem;
}

.card-horizontal-lg {
    width: 34.375rem;
    height: 18.75rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 15.625rem 18.75rem;
    z-index: 1;
    position: relative;
}

.card-horizontal-lg>.card-img {
    width: 15.625rem;
    height: 18.75rem;
}

.card-abt {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-abt>.card-head {
    margin-bottom: 0;
}

.card-abt>.card-info {
    margin-bottom: 2rem;
}

.card-abt>.card-links {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.card-head {
    margin: 0 0.625rem;
}

.card-title {
    margin: 0.625rem 0;
}

.card-subtitle {
    margin: 0.625rem 0;
    margin-bottom: 0;
}

.card-info {
    margin: 5px 0.625rem;
}

.card-links {
    margin: 0.625rem 0;
    height: 2.2rem;
    display: flex;
    justify-content: space-around;
}

.img-responsive {
    width: 100%;
    height: 100%;
}

.overlay {
    position: relative;
    z-index: 2;
}

.card-overlay {
    background-color: var(--color-primary-a);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.overlay-text {
    color: var(--color-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    width: 60%;
}

.card-horizontal {
    width: 31.25rem;
    height: 12.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.card-horizontal>.card-img {
    height: 12.5rem;
}

.card-img {
    grid-row: 1 / 2;
}

.card-links {
    grid-row: 4 /-1;
}

.card-text {
    width: 18.75rem;
    display: flex;
    flex-direction: column;
    padding: 0.625rem;
}

.card-text>.card-head {
    border-bottom: 2px solid var(--color-dark);
    padding: 0.625rem;
}

.card-body {
    padding: 0.625rem;
}

@media (max-width: 500px) {
    .card-horizontal-lg {
        width: 25rem;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 9.375rem 15.625rem;
    }
    .card-horizontal-lg>.card-img {
        width: 9.375rem;
    }
    .card-horizontal {
        width: 25rem;
        height: 15.625rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .card-horizontal>.card-img {
        height: 15.625rem;
    }
}