.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-title {
    font-size: 2.5rem;
    font-family: monospace;
    font-weight: 400;
    letter-spacing: 3px;
    color: var(--color-primary);
    display: flex;
    gap: 1rem;
}

.navbar>.form-control {
    width: 18.75rem;
}

.navbar>.navbar-items>.form-control {
    width: 18.75rem;
}

.navbar>.form-control>.input {
    padding: 10px;
}

.navbar>.form-control>.input-icon+.input {
    padding-left: 2rem;
}

.navbar-components {
    display: flex;
    align-items: center;
}

.navbar-list {
    display: flex;
    margin: 0 2rem;
}

.navbar-items {
    display: flex;
    align-items: center;
}

.navbar-item {
    padding: 0.625rem;
    list-style-type: none;
}

.navbar-link {
    text-decoration: none;
    color: initial;
}

.navbar-icon {
    font-size: 1.5rem;
    color: var(--color-white);
}

.navbar-icon i {
    color: var(--color-primary);
}

.navbar-button {
    padding: 5px 2rem;
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: var(--color-white);
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    font-weight: 600;
}

.submenu {
    position: relative;
}

.submenu-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--color-white);
    z-index: 1;
    width: 100%;
}

.submenu-content .navbar-item {
    border-bottom: 1px solid var(--color-dark);
}

.submenu:hover .submenu-content {
    display: block;
}

@media (max-width: 500px) {
    .navbar-items>.form-control {
        display: none;
    }
}
@media (max-width: 480px) {
    .nav-form {
        display: none ;
    }
}
@media (max-width : 640px) {
    .navbar {
        gap: 1rem;
    }
    .navbar-title {
        font-size: 1.5rem ;
    }
    .nav-form {
        width: 10rem ;
    }
    .btn {
        font-size: 12px ;
    }
}
@media (max-width: 1024px) {
    .navbar {
        padding: 0 1.5rem;
        font-size: 14px;
        justify-content: space-around ;
    }
    .navbar-links {
        display: none;
    }
    .navbar-list {
        margin: 0 10px;
    }
    .icon {
        font-size: 1.7rem;
    }
    .btn {
        padding: 6px 1rem;
    }
}